
.DS_Store
ScreenBlocker.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ScreenBlocker.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ScreenBlocker.xcodeproj/project.xcworkspace/xcuserdata/amitapollo.xcuserdatad/UserInterfaceState.xcuserstate
ScreenBlocker.xcodeproj/xcuserdata/amitapollo.xcuserdatad/xcschemes/xcschememanagement.plist
